/*
    Document   : app/styles/app．css
    Created on : 2014-07-18 10:18 AM
    Author     : servetti-polito
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
  margin-top: 50px;
}

.cs-navbar {
  background-color: #3FB8AF;
  color: white;
}

.cs-navbar .navbar-brand {
  color: white;
}

.cs-header {
  padding: 30px;
}

.cs-center {
  margin: auto;
  text-align: center;
}

.cs-padded {
  padding: 20px 0px 20px 0px;
}